/BluetoothRFComm.WinRT/obj/*
/Communications.WinRT/obj/*
/BluetoothRFComm.WinRT/bin/*
/.vs/SharedWinRTLibs/DesignTimeBuild/.dtbcache.v2
/.vs/SharedWinRTLibs/v17/.futdcache.v1
/BluetoothLE.WinRT/obj/*
/BluetoothLE.WinRT/bin/Debug/*
/Wifi.WinRT/obj/Debug/*
/Wifi.WinRT/obj/*
/Wifi.WinRT/bin/*
/Serial.WinRT/obj/Debug/*
/Serial.WinRT/obj/*
/Communications.WinRT/bin/*
/Communications.WinRT/bin/*
/Ethernet.WinRT/bin/*
/Ethernet.WinRT/obj/*
/Serial.WinRT/bin/*
/BluetoothCommon.WinRT/bin/*
/.vs/SharedWinRTLibs/v17/TestStore/*
